<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Dernières Fiches</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-list>

    <div class="container" [ngClass]="{'busy': isBusy}">
      <div class="backdrop"></div>
      <ion-spinner></ion-spinner>
    </div>

    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">

      <ion-thumbnail item-left *ngIf="item.better_featured_image">
        <img src="{{item.better_featured_image.media_details.sizes.thumbnail.source_url}}">
      </ion-thumbnail>

      <h2 [innerHTML]="item.title.rendered"></h2>

    </button>
  </ion-list>
</ion-content>
